@import url('bootstrap');
@import '@fontsource-variable/grandstander';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Grandstander Variable', system-ui;
}

body {
    background-color: rgba(5, 5, 66, 0.6);
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}